<% if !current_user %>
  <div class="login-body">
    <div class="jumbotron welcome-jumbotron">
      <h1>Welcome to Musette!</h1>
      <p>Authenticate via Strava to get started.</p>

      <div>
        <%= link_to '/auth/strava' do %>
        <%= image_tag 'LogInWithStrava.png', width: 156, height: 32, alt: 'a face that is unnervingly happy'%>
        <% end %>
      </div>

      <br>
      <br>
      <h4>Not a Strava user?</h4>
      <h6>Log in using:</h6>
      <h6>Username: jimmy@tester.com</h6>
      <h6>Password: jimmytester</h6>

    </div>
  </div>
<% end %>



<!-- <div>
<%= link_to 'Sign in via Strava', '/auth/strava' %>
</div> -->
