<!-- SKB: this is now deprecated; new root page is 'static_pages#root' -->
<!-- SKB cot'd: so this file can now be safely deleted -->

<div class="jumbotron">
  <h1>Welcome to Musette!</h1>
  <p>Authenticate via Strava to get started.</p>
</div>
